<body>
  <div class="container">
    <div class="logo">Login</div>
    <div class="login-item">
      <form class="form form-login" [formGroup]="signInForm" (ngSubmit)="onSubmit()">
        <div class="form-field">
          <label class="user" for="name"><span class="hidden">Username</span></label>
          <input id="login-username" [formControlName]="'userName'" type="text" class="form-input form-control"
            placeholder="Username" name="name"
            [ngClass]="{'is-invalid': (signInForm.get('userName').dirty || signInForm.get('userName').touched ) && !signInForm.get('userName').valid}">
          <!-- required ngModel-->

        </div>

        <div class="invalid-feedback" *ngIf="signInForm.get('userName').dirty || signInForm.get('userName').touched ">
          <span *ngIf="signInForm.get('userName').hasError('required')">
            User name required
          </span>
          <span *ngIf="signInForm.get('userName').hasError('minlength')">
            user name is not valid
          </span>
        </div>



        <div class="form-field">
          <label class="lock" for="password"><span class="hidden">Password</span></label>
          <input id="login-password" [formControlName]="'password'" type="password" class="form-input form-control"
            placeholder="Password"
            [ngClass]="{'is-invalid': (signInForm.get('password').dirty || signInForm.get('password').touched ) && !signInForm.get('password').valid}">


        </div>

        <div class="invalid-feedback" *ngIf="signInForm.get('password').dirty || signInForm.get('password').touched ">
          <span *ngIf="signInForm.get('password').hasError('required')">
            Password is required.
          </span>
          <span *ngIf="signInForm.get('password').hasError('minlength')">
            min length should be 5
          </span>
        </div>

        <div class="form-field">
          <input type="submit" value="Log in">
        </div>
        <hr>
        <div class="form-field">
          <input type="submit" [routerLink]="['/signUp']" value="Sign Up">
        </div>
        <div class="form-button">
          <button type="button" class="login-Btn" #loginRef><img class="social-btn-icon" alt="Login with Google"
              src="https://hrcdn.net/fcore/assets/google-colored-20b8216731.svg"></button>
          <button type="button" (click)="facebookLogin()"><img
              src="https://cdn2.iconfinder.com/data/icons/social-media-2285/512/1_Facebook_colored_svg_copy-128.png"></button>
        </div>

      </form>
    </div>
    <div class="colorRed" *ngIf="errorMessage">{{errorMessage}}</div>
  </div>
</body>
