<div>
    <h1>Update Product</h1>
    <form (ngSubmit)="onSubmit()" [formGroup]="updateForm">  
          <div class="width">
            <label for="employee_name">Employee Name </label>
            <input type="text" placeholder="Employee Name" [formControlName]="'name'" [(ngModel)]="name" name="name" />
          </div>
          <div class="width">
            <label for="employee_salary">Employee Salary </label>
            <input type="text" placeholder="Employee Salary" id="employee_salary" [formControlName]="'salary'" [(ngModel)]="salary" name="salary">
          </div>
          <div class="width">
            <label for="employee_age">Employee Age</label>
            <input type="text" placeholder="Employee Age" [formControlName]="'age'" [(ngModel)]="age" name="age" />
          </div>
          <div class="width">
            <label for="employee_profile"> profile Image</label>
            <input type="text" placeholder="Profile Image" [formControlName]="'profile'" [(ngModel)]="profile" name="profile" />
          </div>
        
        
        <button type="submit">Submit</button>
    </form>
</div>
