<div>
  <h2>Create Product</h2>
  <form (ngSubmit)="onSubmit()" [formGroup]="productForm">

    <div class="width">
      <label for="employee_name">Employee Name </label>
      <input type="text" [formControlName]="'userName'" placeholder="Employee Name"  name="name" />
    </div>
    <div class="width">
      <label for="employee_salary">Employee Salary </label>
      <input type="text"  [formControlName]="'salary'" placeholder="Employee Salary" id="employee_salary" name="salary">
    </div>
    <div class="width">
      <label for="employee_age">Employee Age</label>
      <input type="text" [formControlName]="'age'" placeholder="Employee Age"  name="age" />
    </div>
    <button type="submit">Submit</button>
  </form>
</div>
