<body>
  <header>

    <h1>Template</h1>
  </header>

  <div class="content">

    <aside id="mySidenav" class="sidenav" [ngClass]="{
      'openSidenav':isClicked,
      'collapseSidenav':!isClicked

  }">
      <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
      <a routerLinkActive="main" routerLink="/main">Home</a>
      <a routerLink="/main/about-us">About</a>
      <a routerLink="/main/userInfo">Profile</a>
      <a routerLink="/main/products">Product</a>
      <a routerLink="/main/crud">Crud</a>
      <a routerLink="/main/myinfo">myprofile</a>
      <a routerLink="/main/mainModule">Lazymodule</a>
      <a routerLink="/main/psp">PSP</a>
      <a routerLink="/main/pspa">PSPA</a>
      <a (click)="userDetailService.logout()">LogOut</a>

    </aside>

    <main id="main" [ngClass]="{
      'give-main-margin':isClicked,
      'remove-main-margin':!isClicked
    }">
      <span id="btn" (click)="openNav()" [ngClass]="{
        'showbtn':!isClicked,
        'hidebtn':isClicked
      }">&#9776;</span>
      <router-outlet></router-outlet>
    </main>



  </div>

  <footer>
    <p class="copy"> © Media and Media which does nothing &nbsp; </p>
    <p class="copy"> this is the footer which also contain something </p>
  </footer>
</body>
