/* 
p{
    margin-top: 4vh;
    color: darkslategrey;
}

.color-res{
    color: darkgoldenrod;
}

.wrap{
    
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    overflow-wrap: break-word;
    hyphens: auto;
    word-wrap: wrap;
    min-width: 80%;
    background-color: white;
}
 */

 .wrap{
     display: flex;
     width: 100%;
     align-items: center;
     justify-content: center;
 }

 .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    min-width: 40%;
    margin: auto;
    text-align: center;
  }
  
  .title {
    
    color: grey;
    font-size: 18px;
  }
 
  
  button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }
  
  button:hover, a:hover {
    opacity: 0.7;
  }
