<!-- 

<header>

  <h1>Heading title is known</h1>

</header>
<div class="content">
  <aside id="aside">
    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
      <a routerLinkActive="home" routerLink="home">Home</a>
      <a routerLink="about-us">About</a>
      <a routerLink="form-page">Clients</a>
      <a routerLink="userInfo">Contact</a>
      <a routerLink="products">Product</a>
      <a routerLink="crud">Crud</a>
    </div>
    <span style="font-size:30px;cursor:pointer" class="btn" id="btn" (click)="openNav() ">&#9776;</span>
  </aside>


<section role="main" id="section">
  
     <router-outlet></router-outlet>
</section>

</div>

<footer>

  <span class="copy"> © Media and Media which does nothing &nbsp; </span>

  <p class="copy"> this is the footer which also contain something </p>
</footer> -->


 
<router-outlet></router-outlet>
