.containers{
    display: flex;
    
    background-image: url(https://images.unsplash.com/photo-1470813740244-df37b8c1edcb?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
    
    height: 100%;
    
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    background-position: center;
  background-repeat: no-repeat;
  background-size:cover ;
 
    
}

.contain-2{
    
    background-color:  #291D1F;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 50%;
    color: black;
    height: 80vh;
    border-radius: 5vh;
    
}

@media(max-width: 480px) {

    .contain-2{
    
        background-color: #291D1F;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        width: 100%;
        color: black;
        height: 80vh;
        
    }

   

}
