<h2>My Employees</h2>
<button type="button" [routerLink]=" ['/main/crud/create'] ">Create new Employee</button>
<kendo-grid [kendoGridBinding]="employees" [resizable]="true" [filterable]="true" [sortable]="{
    allowUnsort:true,
    mode:'multiple'
    }" [pageable]="true" [pageSize]="10" [height]="490">
  <kendo-grid-column field="id" title="id" width="80">
  </kendo-grid-column>
  <kendo-grid-column field="employee_name" title="employee_name">
  </kendo-grid-column>
  <kendo-grid-column field="employee_salary" title="employee_salary">
  </kendo-grid-column>
  <kendo-grid-column field="employee_age" title="employee_age">
  </kendo-grid-column>
  <kendo-grid-column field="profile_image" title="profile_image" width="80">
  </kendo-grid-column>
  <kendo-grid-column field="id" title="Operation" width="120">
    <ng-template kendoGridCellTemplate let-dataItem>

      <button type="button" [routerLink]=" ['/main/crud/update/',dataItem.id]">Update</button>
      <button type="button" (click)="crudService.delete(dataItem.id)">Remove</button>
    </ng-template>
  </kendo-grid-column>
</kendo-grid>
