<kendo-grid [kendoGridBinding]="gridData"
[resizable]="true"
[filterable]="true"
[sortable]="{
    allowUnsort:true,
    mode:'multiple'
}"
[pageable]="true"
[pageSize]="10"

[height]="410"

>
    <kendo-grid-column field="userId" title="User-Id" width="80">
    </kendo-grid-column>
    <kendo-grid-column field="id" title="ID"  width="60">
    </kendo-grid-column>
    <kendo-grid-column field="title" title="Title">
    </kendo-grid-column>
    <kendo-grid-column field="body" title="Body">
    </kendo-grid-column>
    <!-- <kendo-grid-column field="UnitsInStock" title="In stock" width="80">
    </kendo-grid-column> -->
    <!-- <kendo-grid-column field="Discontinued" title="Discontinued" width="120">
        <ng-template kendoGridCellTemplate let-dataItem>
            <input type="checkbox" [checked]="dataItem.Discontinued" disabled/>
        </ng-template>
    </kendo-grid-column> -->
</kendo-grid>
