<kendo-grid [kendoGridBinding]="gridData"
[resizable]="true"
[filterable]="true"
[sortable]="{
    allowUnsort:true,
    mode:'multiple'
}"
[pageable]="true"
[pageSize]="10"

[height]="410"

>
    <kendo-grid-column field="userId" title="User-Id" width="80">
    </kendo-grid-column>
    <kendo-grid-column field="id" title="ID"  width="60">
    </kendo-grid-column>
    <kendo-grid-column field="title" title="Title">
    </kendo-grid-column>
    <kendo-grid-column field="body" title="Body">
    </kendo-grid-column>
</kendo-grid>
