/* You can add global styles to this file, and also import other style files
*{
    margin: 0;
    padding: 0;
}

body,html{
    height: 100%;
    overflow-x: hidden;
}

h1{
    color:gray;
} */

@import url('https://netdna.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.css');
@import url('https://fonts.googleapis.com/css?family=Lato:400,300,700');

html {
   height: 100%;
}

/* body {
background-color: red;
} */
